body {
	background-color: #111111;
	overflow-x: hidden;
}
html {
	background-color: #111111;
	overflow-x: hidden;
}
.title
{
	font-size: 18px;
	color: #AA00AA;
}
.currentrow
{
	padding:4px; 
	padding-top:8px;
	background-image: -ms-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -moz-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -o-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #211637), color-stop(1, #111111));
	background-image: -webkit-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: linear-gradient(to top left, #211637 0%, #111111 100%);
}
.queuerow
{
	border-radius:5px; 
	padding:4px; 
	display:block; 
	height:100%;
}
.albumcover
{
	width:100%;
	display: block;
}
.vote
{
	width:150%;
	display: block;
}
.song-row
{
	height:100%;
	width:100%; 
	padding:4px; 
	float:left;
}
.song-details
{
	color:#DDDDDD;
	width:80%; 
	font-size: 18px;
	text-align:left;
	margin-left:23%;
}
.song-title
{
	color:#DDDDDD;
	font-size: 18px;
}
.song-artist
{
	color:#DDDDDD;
	font-size: 18px;
}
.song-album
{
	color:#DDDDDD;
	width:20%; 
	float:left;
}
.song-queue
{
	background-color: #111111;
	margin: 8px;
	font-size: 24px;
	color:#EEEEEE; 
	width:5%; 
	float:left
}
#rating
{
	position:fixed; 
	width:100%; 
	z-index:996;
}
#current
{

	background-image: -ms-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -moz-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -o-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #211637), color-stop(1, #111111));
	background-image: -webkit-linear-gradient(bottom right, #211637 0%, #111111 100%);
	background-image: linear-gradient(to top left, #211637 0%, #111111 100%);
	position:fixed; 
	top: 0;
	left: 0;
	z-index: 996;
}
#current-info
{
	float: left;
}
#current-song-image
{
	float: left;
}
#current-song-title
{

	color:#EEEEEE; 
	text-align:left;
}
#current-song-artist
{
	margin-top: -12px;
	color:#EEEEEE; 
	text-align:left;
}
#current-song-submit
{
	margin-top: -6px;
	color:#EEEEEE; 
	text-align:left;
}
#search-container
{

}
#search-button
{
	z-index: 997; 
	position:fixed;
	right:0;
	top:0;
	font-size: 32px;
	background-color:#2B3B4A; 
	color:#99CCFF; 
	text-align:center;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	width: 75px;
	height: 40px;
}
#search-body
{
	z-index: 997; 
	position:fixed;
	right:0;
	background-color:#2B3B4A; 
	color:#99CCFF; 
	padding: 18px;
	width:100%;
	visibility: hidden;
}
#search-input
{
	height:32px;
	margin-bottom: 18px;
	width: inherit;
	visibility: hidden;
}
.search-item
{

}
.search-item:hover
{
	background-color: #666666;
}